.predefined-themes-example {

    .deni-react-treeview-container {
      display: inline-block;
      width: 270px;
      height: 300px;
      margin-right: 10px;
      margin-bottom: 10px;
    }
  
  }