body {font-family:ï¿½ï¿½ï¿½ï¿½; font-size:12px; font-style:normal; line-height:140%; color:#303030; }
.user-info-th {
    font-weight: 800;
}
.center-column {
    color: red;
}
.copyright {
    background-color: #e9e9e9;
    height: 60px;
    align-items: center;
    text-align: right;
    bottom: 0;
    position: absolute;
    width: 100%;
}
.footer-img {
    margin-top: 12px;
}
.left-menu {
    margin-top: 20px;
    border-right: 1px solid;
    border-color: #dedede;
    padding-left: 5px;
    width: 195px;
    height: 840px;
}
li.collapsable, .treeview li.expandable {
    background-position: 0 -176px;
}
.treeview, .treeview ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.treeview .hover {
    color : red;
    cursor: pointer;
}
.filetree li {
    padding: 3px 0 2px 16px;
}
.treeview .hitarea {
    background: url("http://localhost:5003/public/smartux_adm/images/treeview-default.gif") -64px -25px no-repeat;
    height: 16px;
    width: 16px;
    margin-left: -16px;
    float: left;
    cursor: pointer;
}

.treeview li {
    background: url("http://localhost:5003/public/smartux_adm/images/treeview-default-line.gif") 0 0 no-repeat;
    padding: 3px 0 2px 16px;
}
.folder {
    background: url("http://localhost:5003/public/smartux_adm/images/folder-closed.gif") 0 0 no-repeat;
    padding: 1px 0 1px 16px;
    display: block;
}
.file {
    background: url("http://localhost:5003/public/smartux_adm/images/file.gif") 0 0 no-repeat;
    padding: 1px 0 1px 16px;
    display: block;
}
