<script>
  import { onDestroy, onMount } from "svelte";
  import { Router, navigate } from "svelte-routing";
  import { auth$ as auth, logout } from "@example/auth";

  const ROUTES = {
    LOGIN: "/login",
    HOME: "/home",
    SMARTUX: "/smartux",
    COUPON: "/coupon",
  };

  let sub;
  onMount(() => {
    sub = auth.subscribe(({ sessionToken }) => {
      const needsLogin = !sessionToken;
      if (needsLogin) navigate(ROUTES.LOGIN);
      else if (!needsLogin && window.location.pathname === ROUTES.LOGIN) {
        navigate(ROUTES.SMARTUX);
      }
    });
  });

  onDestroy(() => {
    sub.unsubscribe();
  });
</script>
  <Router>
    {#if $auth.sessionToken}
    <nav>
      <div class="header-area">
        <div class="logo-area">
          <img src="http://localhost:5003/public/smartux_adm/images/admin/logo.jpeg" />
        </div>
        <div class="logout-area">
          <button class="action" type="button" on:click|once={logout}>
            <img class="logout-button" src="http://localhost:5003/public/smartux_adm/images/admin/btn_logout.gif" width="46px"/>
            </button>
        </div>
        <div class="user-area">
            <img src='http://localhost:5003/public/smartux_adm/images/admin/user1.png' width="16px"/>
            <span class="user-info-th"> USER :  </span>
            <span class="user-info-td"> admin (슈퍼관리자) </span>
        </div>
       
          <!-- <a rel="external" href="/smartux">Smartux</a>
        <a rel="external" href="/coupon">Coupon</a> -->
    </div>
  </nav>
    {:else}{/if}
  </Router>

<style>
  nav {
    background: #ffffff;
    color: black;
    text-align: right;
    border: 1px solid;
    border-color: #ebebeb;
    font-family:ï¿½ï¿½ï¿½ï¿½; 
    font-size:12px; 
    font-style:normal; 
    color:#303030;
    height: 32px;
    padding: 12px 2px 8px 2px;
  }

  .logo-area {
      display: inline;
      float: left;
  }
  .user-area {
      display: inline;
      float: right;
      margin-right: 10px;
  }
  .user-info-th {
      font-weight: 800;
  }
  .logout-area {
    display: inline;
    float: right;
    margin-right: 30px;
    margin-top: 2px;
  }
  button.action {
      border: 0px;
      background-color: white;
  }
</style>
